
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'usuarios_Measurements_list' %}">
    Measurements Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="body_size">body_size: </label>
      <input class="form-control col-sm-10"
         id="body_size" type="text"
         name="body_size" value="{{ object.body_size }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="foot">foot: </label>
      <input class="form-control col-sm-10"
         id="foot" type="number"
         name="foot" value="{{ object.foot }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="user">user: </label>
      {{ form.user }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}