
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'usuarios_Measurements_list' %}">
    Measurements Listing
    </a>
</p>
    
<table class="table">
    <tr><td>body_size</td><td>{{ object.body_size }}</td></tr>
    <tr><td>foot</td><td>{{ object.foot }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>user</td><td>{{ object.user }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}